.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100hv;
  width: 100%;
}

.calc-wrapper {
  margin-top: 100px;
  height: 800px;
  width: 400px;
}

.row {
  display: flex;
  width: 100%;
}
